section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .description{
    height: 55vh;
    margin-top: 48px;

    width: 335px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

& .subtitle{
  display: flex;
  justify-content: center;

  position: relative;
  width: 335px;
  height: 88px;

  margin: 96px auto;

  & > img{
    width: 40px;
    height: 40px;

    &:nth-child(1){
      position: absolute;
      left: calc(50% - 88px/2 + 113.19px);
      top: calc(50% - 88px/2 - 48.74px);

      transform: rotate(20deg);
    }

    &:nth-child(3){
      transform: rotate(20deg);

      position: absolute;
      left: calc(50% - 72px/2 + 120.14px);
      top: calc(50% - 72px/2 + 74.15px);
    }

    &:nth-child(4){
      transform: rotate(330deg);
      
      position: absolute;
      left: calc(50% - 80px/2 - 104.96px);
      top: calc(50% - 80px/2 + 76.13px);
    }
  }
}

@media (min-width: 80em){
  section{

    & .description{
      height: 85vh;
      width: 656px;
      gap: 32px;
  
      & > p{
        width: 450px;
      }
    }
  }

  & .subtitle{
    position: relative;
    width: 1200px;
    height: 400px;

    & > img{
      width: 80px;
      height: 80px;

      &:nth-child(1){
        position: absolute;
        left: calc(50% - 88px/2 + 4.19px);
        top: calc(50% - 88px/2 - 112.74px);

        transform: rotate(20deg);
      }
  
      &:nth-child(3){
        transform: rotate(339deg);

        position: absolute;
        left: calc(50% - 72px/2 + 558.14px);
        top: calc(50% - 72px/2 + 103.15px);
      }
  
      &:nth-child(4){
        transform: rotate(102deg);
        
        position: absolute;
        left: calc(50% - 80px/2 - 525.96px);
        top: calc(50% - 80px/2 + 104.13px);
      }
    }
  }
}

