section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0 auto;

  & .description{
    height: 55vh;
    margin-top: 48px;

    width: 335px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.subtitle{
  display: flex;
  justify-content: center;

  position: relative;
  width: 335px;
  height: 88px;

  margin: 96px auto;

  & > img{
    width: 40px;
    height: 40px;

    &:nth-child(1){
      position: absolute;
      left: calc(50% - 88px/2 + 113.19px);
      top: calc(50% - 88px/2 - 48.74px);

      transform: rotate(20deg);
    }

    &:nth-child(3){
      transform: rotate(20deg);

      position: absolute;
      left: calc(50% - 72px/2 + 120.14px);
      top: calc(50% - 72px/2 + 74.15px);
    }

    &:nth-child(4){
      transform: rotate(330deg);
      
      position: absolute;
      left: calc(50% - 80px/2 - 104.96px);
      top: calc(50% - 80px/2 + 76.13px);
    }
  }
}

.book-kit{
  width: 375px;
  height: 319px;
  margin-block: 200px;

  & .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    & img{
      width: 20px;
      height: 20px;
    }
  }

  & > div > p{
    margin-top: 8px;
    font-size: 0.875rem;
  }

  & .images{
    display: flex;
    justify-content: center;

    position: relative;

    margin-top: 96px;

    width: 100%;
    height: 85vh;
    
    & .group-1{
      & small{
        position: absolute;
        left: 7%;
        top: -30%;
      }

      & img[src*="arrow"]{
        position: absolute;

        width: 58.74px;
        height: 10.1px;

        left: 16%;
        top: -14%;
      }

      & img[src*="book"]{
        position: absolute;

        width: 157.19px;
        height: 207.68px;

        left: 28%;
        top: -10%;
      }
    }

    & .group-2{
      & small{
        position: absolute;

        left: 7%;
        top: 53%;
      }

      & img[src*="arrow"]{
        position: absolute;
        left: 13%;
        bottom: -36%;

        width: 25.81px;
        height: 177.51px;
      }

      & img[src*="pin"]{
        position: absolute;
        left: 15.4%;
        bottom: -35%;

        transform: rotate(352deg);
        z-index: -1;

        width: 74.89px;
        height: 85.4px;
      }
    }

    & .group-3{
      & small{
        position: absolute;
        right: 15%;
        bottom: -50%;
      }
      & img[src*="arrow"]{
        position: absolute;
        right: 16%;
        bottom: -35%;

        width: 48.96px;
        height: 50.99px;
      }

      & img[src*="yellow"]{
        position: absolute;
        z-index: -1;
        right: 20%;
        top: -20%;
        transform: rotate(10deg);

        width: 58.4px;
        height: 180.92px;
      }

      & img[src*="purple"]{
        position: absolute;
        z-index: -2;
        right: 11%;
        top: 0%;
        transform: rotate(19deg);

        width: 58.4px;
        height: 180.92px;
      }
    }
  }
}

.plan-prices{

  & > h2{
    margin-bottom: 140px;
  }

  & .cards{
    display: flex;
    gap: 1rem;

    & .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 288px;
      height: 416px;

      padding: 32px;

      border-radius: 24px;
      background-color: var(--shape-base);
      border: 1px solid var(--shape-hover);

      & h3{
        margin-bottom: 1rem;
      }

      & .price{
        display: grid;
        justify-items: start;
        gap: 8px;
      }

      & ul{
        display: grid;
        gap: 12px;
      }

      & ul li{
        display: flex;
        align-items: center;
        gap: 6px;

        & img{
          width: 14px;
          height: 14px;
        }
      }
    }

    & .card:hover{
      background-color: var(--shape-hover);
    }

    & .card:nth-child(4){
      & .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

      }
      & h3{
        color: var(--pink-light);
      }

      & span{
        background-color: var(--shape-stroke);
        padding: 10px 20px;
        border-radius: 99px;
        margin-top: -15px;
      }
    }
  }
}

@media (min-width: 80em){
  section{

    & .description{
      height: 85vh;
      width: 656px;
      gap: 32px;
  
      & > p{
        width: 450px;
      }
    }
  }

  & .subtitle{
    position: relative;
    width: 1200px;
    height: 400px;

    & > img{
      width: 80px;
      height: 80px;

      &:nth-child(1){
        position: absolute;
        left: calc(50% - 88px/2 + 4.19px);
        top: calc(50% - 88px/2 - 112.74px);

        transform: rotate(20deg);
      }
  
      &:nth-child(3){
        transform: rotate(339deg);

        position: absolute;
        left: calc(50% - 72px/2 + 558.14px);
        top: calc(50% - 72px/2 + 103.15px);
      }
  
      &:nth-child(4){
        transform: rotate(102deg);
        
        position: absolute;
        left: calc(50% - 80px/2 - 525.96px);
        top: calc(50% - 80px/2 + 104.13px);
      }
    }
  }

  .book-kit{
    width: 877px;
    height: 815px;

    & .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      
      & img{
        width: 32px;
        height: 32px;
      }
    }
  
    & > div > p{
      font-size: 1rem;
    }
  
    & .images{
   
      & .group-1{
        & small{
          left: 0%;
          top: 8%;
        }
  
        & img[src*="arrow"]{ 
          width: 175px;
          height: 30px;
  
          left: 8%;
          top: 13%;
        }
  
        & img[src*="book"]{
          width: 467px;
          height: 617px;
  
          left: 23%;
          top: 15%;
        }
      }
  
      & .group-2{
        & small{
          left: 0%;
          top: 65%;
        }
  
        & img[src*="arrow"]{
          left: 2%;
          bottom: 9%;
  
          width: 105px;
          height: 127px;
        }
  
        & img[src*="pin"]{
          left: 7%;
          bottom: -22%;
  
          width: 222px;
          height: 254px;
        }
      }
  
      & .group-3{
        & small{
          right: 11%;
          bottom: -24%;
        }

        & img[src*="arrow"]{
          right: 5%;
          bottom: -18%;
  
          width: 145px;
          height: 152px;
        }
  
        & img[src*="yellow"]{
          right: 10.7%;
          top: 7%;
  
          width: 172px;
          height: 536px;
        }
  
        & img[src*="purple"]{
          right: -1%;
          top: 19%;

          width: 172px;
          height: 536px;
        }
      }
    }
  
  }

  .plan-prices{
    & .cards{
      position: relative;

      display: flex;
      justify-content: center;

      padding: 50px;

      width: 322px;
      height: 325px;

      & img[src*="rabbit"]{
        position: absolute;

        width: 45px;
        height: 50px;

        top: 0%;
        left: 15.5%;
      }

      & img[src*="stars-1"]{
        position: absolute;
        top: 9%;
        left: -12%;

        width: 30.45px;
        height: 51.6px;
      }

      & img[src*="stars-2"]{
        position: absolute;
        bottom: -55%;
        right: -5%;

        width: 55.57px;
        height: 23.9px;
      }

      & .card{
        position: absolute;
      }

      & .card:nth-child(2),
      & .card:nth-child(5){
        z-index: -1;
      }

      /* & .card:nth-child(2){
        border: 0;
      } */
    }
  }
}

