h1{
  font: 700 1.75rem var(--font-family);
}

h2{
  font: 700 1.5rem var(--font-family);;
}

h3{
  font: var(--title-xs);
  color: var(--blue-light);
}

label{
  color: var(--text-label);
}

strong{
  text-decoration: none;
  font-weight: 400;
}

ul li{
  font: var(--body-xs);
}

.subtitle{
  font: var(--body-md);
}

.tag{
  font: var(--tag);
  text-transform: uppercase;
  letter-spacing: 5%;
}

@media (min-width: 80em){
  h1{
    font: var(--title-lg);
  }
  
  h2{
    font: var(--title-sm);
  }

  strong{
    color: var(--blue-light);
    font-weight: 700;
  }

  .subtitle{
    font: var(--subtitle);
  }  
}